@{
    ViewBag.Title = "Palindrome Page";
}

<div class="jumbotron">
    <h1>Palindromes Projects</h1>
    <p class="lead">Check if the a text is Palindrome? and Print all Palindromes entered in the system!!</p>
    <p><a href="http://localhost:56737/Home/Pali" class="btn btn-primary btn-lg">Check Palindrome</a></p>
    <p><a href="http://localhost:56737/Home/GetAll" class="btn btn-primary btn-lg">Print Palindromes</a></p>
</div>
